<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head') %>
        <title>จัดการสินค้า</title>
        <style>
            td {
                text-align: left;
                vertical-align: middle;
            }
        </style>
</head>

<body class="bodyimg">
    <%- include('../nav') %>
        <div class="container-fluid">
            <div class="rounded m-3 w-con mx-auto bg-secondary" style="min-height: 1100px;">
                <div class="d-flex pt-3 bd-highlight">
                    <div class="p-2 bg-dark flex-fill text-white">
                        <h2>
                            <img src="/img/manage.png" alt="com" width="75px">รายละเอียดคำสั่งซื้อ
                        </h2>

                    </div>
                </div>
                <div class="rounded m-3  w-con mx-auto pb-3">
                    <div class="float-start w-70 border bg-white border-info p-3 rounded">
                        <form method="POST" action="/cfpayments">
                        <p>
                            รหัสสั่งซื้อ: # <input type="text" class="fw-bold" name="or_id"  value="<%- myOr[0].or_id %> "style="border: none;" readonly> 
                        </p>
                        <p>วันที่: <span class="fw-bold"><%- formatDate(myOr[0].or_date) %></span></p>
                        <table class="table table-hover text-center">
                            <th><i class="fa-solid fa-hashtag"></i></th>
                            <th><i class="fa-solid fa-image"></i> รูป</th>
                            <th><i class="fa-solid fa-box"></i> ชื่อสินค้า</th>
                            <th><i class="fa-solid fa-tags"></i> ราคา/กก.</th>
                            <th><i class="fa-solid fa-cubes"></i> จำนวน/กก.</th>
                            <th><i class="fa-solid fa-money-check-dollar"></i>
                                รวม</th>
                            <tbody id="order_list">
                                <% for (var i in myOr) { %>
                                    <input type="hidden" name="qty" value="<%- myOr[i].qty %>">
                                    <input type="hidden" name="fid" value="<%- myOr[i].f_id %>">
                                    <tr>
                                        <td class="text-center"><%- myOr[i].f_id %></td>
                                        <td class="text-center">
                                            <img src="/uploads/<%- myOr[i].f_img %>" alt="#" width="100px" />
                                        </td>
                                        <td class="text-center"><%- myOr[i].f_name %></td>
                                        <td class="text-center">
                                            <%- myOr[i].sale_price.toLocaleString() %>
                                        </td>
                                        <td class="text-center">
                                            <%- myOr[i].qty.toLocaleString() %>
                                        </td>
                                        <td class="text-center">
                                            <%- myOr[i].total.toLocaleString() %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                        <p class="text-end">
                            ยอดรวมสุทธิ:
                            <span class="fw-bold"><%- myOr[0].or_total.toLocaleString() %></span>
                        </p>
                    </div>
                    <div class="float-end w-25 border bg-white border-info p-3 rounded">
                        <p><i class="fa-solid fa-user"></i> ข้อมูลลูกค้า</p>
                        <p>
                            <i class="fa-solid fa-address-card"></i> ชื่อ:
                            <span class="fw-bold"><%- myOr[0].name %></span>
                        </p>
                        <p>
                            <i class="fa-solid fa-mobile"></i>:
                            <span class="fw-bold"><%- myOr[0].cus_tel %></span>
                        </p>
                        <p>
                            <i class="fa-solid fa-location-dot"></i> ที่อยู่:
                            <br /><span class="fw-bold"><%- myOr[0].cus_address %></span>
                        </p>
                    </div>
                    <% if (pay_data) { %>
                    <div class="float-start w-70 bg-white border border-info p-3 mt-3 rounded">
                        <div class="float-start w-50">
                            <p style="font-size: 18px">
                                <i class="fa-solid fa-receipt"></i>
                                หลักฐานการโอนเงิน :
                            </p>
                            <p># : <span class="fw-bold"><%- pay_data.pay_id %></span></p>
                            <p><i class="fa-regular fa-calendar-days"></i>&nbsp;วันที่แจ้ง:<span class="fw-bold"> <%- formatDate2(pay_data.pay_date) %></span> </p>
                            <p><i class="fa-regular fa-calendar-days"></i>&nbsp;วันที่โอน:<span class="fw-bold"> <%- formatDate2(pay_data.transfer_date) %></span> </p>
                            <% if(myOr[0].or_status == 2){ %>
                                <button type="button" onclick="confirm()" class="btn btn-primary">ยืนยันการชำระเงิน</button>
                                <button type="button" onclick="cancle()" class="btn btn-danger">ยกเลิกการชำระเงิน</button>
                             <% }else if(myOr[0].or_status == 3){ %>
                                <button type="button" onclick="openDeliveryModal('<%- myOr[0].or_id %>')" class="btn btn-primary"><i class="fa-solid fa-comment-dollar"></i> จัดส่งสินค้า</button>
                                <% } %>
                            </div>
                            <div class="float-end w-50 ps-3">
                                <img id="imagePreview" src="/uploads/<%- pay_data.pay_img %>" alt="Preview" class="border border-info rounded"
                                    style="max-width: 250px; margin-left: 10px; display: block" />
                            </div>
                        </div>
                    
                    </div>
                    <% } %>
                </form>
                </div>
                <% function formatDate(dateStr) { 
                    const date=new Date(dateStr); const
                    day=date.getDate().toString().padStart(2, '0' ); 
                    const month=(date.getMonth() +
                    1).toString().padStart(2, '0' ); 
                    const year=date.getFullYear(); 
                    return `${day}/${month}/${year}`; 
                }
                    function formatDate2(inputDate) {
                        const date = new Date(inputDate);
                        const day = date.getDate().toString().padStart(2, '0');
                        const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based
                        const year = date.getFullYear();
                        const hours = date.getHours().toString().padStart(2, '0');
                        const minutes = date.getMinutes().toString().padStart(2, '0');
                      
                        const formattedDate = `${day}/${month}/${year} | ${hours}:${minutes}`;
                      
                        return formattedDate;
                      }
                    %>

</body>
<script>
function confirm(){
            Swal.fire({
                    title: 'ยืนยันการชำระเงิน?',
                    text: 'ยืนยันการชำระเงินถูกต้องหรือไม่?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'ยืนยัน',
                    cancelButtonText: 'ยกเลิก',
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.querySelector('form').submit();
                    }
                });
        }
        function openDeliveryModal(orderId) {
  Swal.fire({
    title: '<i class="fa-solid fa-newspaper"></i> รายละเอียดการจัดส่ง',
    html: `
      <p style="text-align: left;"><i class="fa-solid fa-hashtag"></i> รหัสคำสั่งซื้อ:  <span id="modal_order_id">${orderId}</span></p>
      <p style="text-align: left;"><i class="fa-solid fa-truck-fast"></i> ประเภทการจัดส่ง: </p>
      
      <div id="deliveryCompanyDetails" text-align: left;">
        <div class="input-group mb-3">
          <span class="input-group-text" style="text-align: left;">ชื่อบริษัทขนส่ง:</span>
          <input type="text" class="form-control" id="companyName" name="companyName">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" style="text-align: left;">หมายเลขพัสดุ:</span><br>
          <input type="text" class="form-control" id="trackingNumber" name="trackingNumber">
        </div>
      </div>
      <br>
      <p style="text-align: left;">
        <label for="deliveryDate"><i class="fa-regular fa-calendar-days"></i> วันที่จัดส่ง:</label>
        <input type="date" class="form-control w-50" id="deliveryDate" name="deliveryDate">
      </p>
    `,
    showCloseButton: true,
    showCancelButton: true,
    focusConfirm: false,
    confirmButtonText: 'บันทึกการจัดส่ง',
    cancelButtonText: 'ยกเลิก',
    preConfirm: () => {
      // เรียกฟังก์ชันที่จะเรียกเมื่อคลิก "บันทึกการจัดส่ง"
      return saveShippingData(orderId);
    },
    customClass: {
      popup: 'swal-popup',
      title: 'swal-title',
      content: 'swal-content',
      confirmButton: 'swal-confirm',
      cancelButton: 'swal-cancel'
    }
  });
}

    function saveShippingData(orderId) {
  const companyName = document.getElementById('companyName').value;
  const trackingNumber = document.getElementById('trackingNumber').value;
  const deliveryDate = document.getElementById('deliveryDate').value;

  // ทำ AJAX request ไปยังเซิร์ฟเวอร์ Node.js
  return fetch('/saveShipping', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      companyName,
      trackingNumber,
      deliveryDate,
      orderId,
    }),
  })
    .then((response) => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then((data) => {
      // ทำบางสิ่งที่คุณต้องการหลังจากได้รับการตอบกลับจากเซิร์ฟเวอร์
      Swal.fire({
        icon: 'success',
        title: 'บันทึกการจัดส่งสำเร็จ!',
        text: `รหัสการจัดส่ง: ${data.shipId}`,
      }).then((result) => {
    if (result.isConfirmed) {
      // หลังจากกด "ตกลง" ใน SweetAlert2
      window.location.href = '/shipping';
    }
  });;
    })
    .catch((error) => {
      console.error('Error during fetch operation:', error);
      // แสดงข้อความหรือกระทำอื่น ๆ ในกรณีข้อผิดพลาด
    });
}
function cancle(){
        Swal.fire({
  title: "ยกเลิกรายการ?",
  text: "ต้องการยกเลิกรายการชำระเงินนี้หรือไม่",
  icon: "warning",
  showCancelButton: true,
  confirmButtonColor: "#3085d6",
  cancelButtonColor: "#d33",
  confirmButtonText: "ยืนยัน"
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire({
      title: "ยกเลิกสำเร็จ!",
      text: "ยกเลิกการแจ้งชำระเงินแล้ว",
      icon: "success"
    });
  }
});
    }
</script>


</html>